<footer class="mainfooter" role="contentinfo">
  <div class="overlay-footer">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div id="contact" class="col-md-3 col-sm-6 mt-3">
          <!--Column1-->
            <h4>Contact</h4>
            <ul class="list-unstyled list-footer">
              <li><a href="#"></a></li>
              <li>123, abc street</li>
              <li>Vadodara, Gujarat</li>
              <li>390001</li>
              <li><a href="#">companyname@gmail.com</a></li>
              <li>+91-9897327098</li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6  mt-3">
          <!--Column2-->
            <h4>Quick Links</h4>
            <ul class="list-unstyled list-footer">
              <li><a href="#">Website Tutorial</a></li>
              <li><a href="#">Accessibility</a></li>
              <li><a href="#">Products</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Prices</a></li>
              <li><a href="#">Webmaster</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6  mt-3">
          <!--Column3-->
            <h4>Help</h4>
            <ul class="list-unstyled list-footer">
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Terms and Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Disclaimer</a></li>
              <li>
                <a href="#"></a>
              </li>
            </ul>
        </div>
        <div class="col-md-3 mt-3">
          <h4>Follow Us</h4>
          <br/><br/>
          <ul class="social-network social-circle">
            <li><a href="#" class="icoFacebook mt-3" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="icoWhatsapp mt-3" title="Whatsapp"><i class="fa fa-whatsapp"></i></a></li>
            <li><a href="#" class="icoInstagram mt-3" title="Instagram"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#" class="icoLinkedin mt-3" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#" class="icoTwitter mt-3" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          </ul>				
        </div>
      </div>

      <br/><br/>
      <!-- COPYRIGHT SECTION -->
      <div class="row">
        <div class="col-md-12 copyright">
          <p class="text-center">&copy; Copyright 2020 - Company Name.  All rights reserved.</p>
        </div>
      </div>


    </div>
  </div>
  </div>
</footer>